{% load custom_filters %}

<!-- Modal update menu document -->
{% for obj in object_list %}
<div class="modal fade" id="mod0-{{ obj.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="display: flex; align-items: center;">
          <i class="mdi mdi-help-circle mdi-24px text-primary mr-2"></i>
          update account
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3> {{ obj.username }}</h3><hr>
        <form class="forms-sample" autocomplete="off" method="post" action="{% url 'account_update' pk=obj.id %}" enctype="multipart/form-data">
          {% csrf_token %}
            {% for field in form %}
              {% if field.label == "User department" %}
                <div class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  <select class="form-control border-bottom" name="pilih_departemen">
                    <option value="" disabled {% if not obj|get_field_value:field.name %}selected{% endif %}>Select a department</option>
                    {% for u in list_department %}
                      <option value="{{ u.id }}" {% if u.id == obj|get_field_value:field.name %}selected{% endif %}>{{ u.department }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endif %}
            {% endfor %}
            <p>Give permission to a user account?</p>
            <div class="row">
              <div class="col-3">
                {% for key, label in fields_boolean.items %}
                <div class="form-group">
                  <div class="form-check">
                    <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="{{ label }}" name="checklist_label" value="{{ key }}" {% if obj|get_field_value:key %}checked{% endif %}>
                    {{ label}}
                    </label>
                  </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                </div><div class="col-3">
                {% endif %}
              {% endfor %}
              </div>
            </div>
          <div class="mt-5">
            <button type="submit" class="btn btn-twitter mr-2">Update</button>
            <button type="button" class="btn btn-facebook" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- footer modal -->
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- Modal disable menu document -->
<!-- {% for obj in dokumen_list %}
<div class="modal fade" id="mod1-{{ obj.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="display: flex; align-items: center;">
          <i class="mdi mdi-help-circle mdi-24px text-primary mr-2"></i>
          <b>{% if obj.is_active %}Deactivate{% else %}Activate{% endif %} document</b>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% if obj.is_active %}Deactivate{% else %}Activate{% endif %} document?
          <hr>
          <div class="row">
            <div class="col-6">
              <h5>Document Name</h5>
              <p>{{ obj.document|capfirst }}</p>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <form class="forms-sample" method="post" action="{% url 'dokumen_is_active' pk=obj.id %}">
          {% csrf_token %}
          <input type="hidden" name="aktivasi" {% if obj.is_active %}value="nonaktif"{% endif %}>
        <button type="submit" class="btn btn-twitter">Save</button>
      </form>
        <button type="button" class="btn btn-facebook" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}> -->