
{% load static %}
{% load custom_filters %}

{% include 'DMSApp/Komponen/navbar.html' %}
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Document Management System</h3>
            <nav aria-label="breadcrumb rounded-0">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Document</li>
                <li class="breadcrumb-item">Archive</li>
                {% if nm_departemen %}
                <li class="breadcrumb-item active" aria-current="page">{% if nm_dokumen %}<a href='{% url 'arsip_view' %}?dept={{ nm_departemen|custom_slugify }}'>{% endif %}{{ nm_departemen|capfirst }}</a></li>
                {% endif %}
                {% if nm_dokumen %}
                <li class="breadcrumb-item active" aria-current="page">{% if nm_dokumen %}<a href='{% url 'arsip_view' %}?menu={{ nm_dokumen|custom_slugify }}&dept={{ nm_departemen|custom_slugify }}'>{% endif %}{{ nm_dokumen|capfirst }}</a></li>
                {% endif %}
                {% if nm_arsip %}
                <li class="breadcrumb-item active" aria-current="page">{% if nm_dokumen %}<a href='{% url 'arsip_list_detail' %}?menu={{ nm_dokumen|custom_slugify }}&dept={{ nm_departemen|custom_slugify }}&archive={{ nm_arsip|custom_slugify }}'>{% endif %}{{ nm_arsip|capfirst }}</a></li>
                {% endif %}
                <li class="breadcrumb-item">{% if nm_arsip %} Revision {% else %} Register {% endif %}</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 grid-margin stretch-card">
        <div class="card shadow">
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <h4 class="card-title">{% if nm_arsip %} Revision {% else %} Register {% endif %} Document - {{ nm_dokumen|capfirst }}</h4>
                <p class="card-description">
                  Add class <code>.table-striped</code>{% for u in get_id %}{{ u.name }}{% endfor %}
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <form class="forms-sample mb-3" method="post" autocomplete="off" enctype="multipart/form-data">
                  {% csrf_token %}

                  <input type="hidden" name="dokumen" value="{{ nm_dokumen }}">
                  <input type="hidden" name="departemen" value="{{ nm_departemen }}">

                  {% for key, value in list_label.items %}
                  <!-- # Get the names of the related labels -->
                    {% for u in nm_label %}
                      {% if u.name == key %}
                        {% if value.type != "file" %}
                        <div class="form-group">
                          <label for="{{ key }}">{{ value.label }}</label>
                          <input type="{{ value.type }}" class="form-control" id="{{ key }}" name="{{ key }}" placeholder="{{ value.label }}" required 
                          
                          {% for obj in archive_list %}
                            {% if value.label == "Document Title" %} value="{{ obj|get_field_value:key }}" readonly{% endif %}
                            {% if value.label == "Document ID" %} value="{{ obj|get_field_value:key }}" readonly{% endif %}
                          {% endfor %}

                          {% if value.label == "Document ID" %} value="{{ nma_inisial|upper }}." {% endif %}
                          >
                          <!-- <input type="{{ value.type }}" class="form-control" id="{{ key }}" name="{{ key }}" placeholder="{{ value.label }}" required
                          {% if value.label == "Revision No" %}value="00" readonly {% elif value.label == "Document Number" %} value="{{ nma_inisial|upper }}." {% endif %}> -->
                        </div>
                        {% else %}
                        <div class="form-group">
                          <label>{{ value.label }}</label>
                          <input type="file" name="{{ key }}" class="file-upload-default" accept="{{ value.extension }}" {% if value.label == "PDF File" %}onchange="displayPDF(this)"{% endif %}>
                          <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled placeholder="{{ value.label }}">
                            <span class="input-group-append">
                              <button class="file-upload-browse btn btn-primary" type="button">Browse</button>
                            </span>
                          </div>
                        </div>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                  <button type="submit" class="btn btn-twitter mr-1">Upload</button>
                  <button type="button" class="btn btn-facebook" onclick="window.location.href = document.referrer;">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 grid-margin stretch-card">
        <div class="card shadow w-100">
          <div class="card-header">
            PDF Viewer
          </div>
          <div class="card-body d-flex justify-content-center align-items-center">
            <div id="pdf-viewer">
              <canvas id="pdf-canvas" alt="pdf"></canvas>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
<script>
    function displayPDF(input) {
        const file = input.files[0];
        if (file.type === "application/pdf") {
            const fileReader = new FileReader();
            fileReader.onload = function() {
                const pdfData = new Uint8Array(this.result);
                const loadingTask = pdfjsLib.getDocument({data: pdfData});
                loadingTask.promise.then(pdf => {
                    pdf.getPage(1).then(page => {
                        const viewport = page.getViewport({scale: 1.5});
                        const canvas = document.getElementById('pdf-canvas');
                        const context = canvas.getContext('2d');
                        canvas.height = viewport.height;
                        canvas.width = viewport.width;
                        const renderContext = {
                            canvasContext: context,
                            viewport: viewport
                        };
                        page.render(renderContext);
                    });
                });
            };
            fileReader.readAsArrayBuffer(file);
        } else {
            alert("Please select a valid PDF file.");
        }
    }
</script>
{% include 'DMSApp/Komponen/footer.html' %}
