<!-- Modal new upload dokumen -->
<div class="modal fade" id="mod1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel" style="display: flex; align-items: center;">
          <i class="mdi mdi-help-circle mdi-24px text-primary mr-2"></i>
          register new document ({{ nm_department|capfirst }})
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <form class="forms-sample" method="post" autocomplete="off" enctype="multipart/form-data">
              {% csrf_token %}
              {% for field in form %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.name == 'tanggal_efektif' or field.name == 'tanggal_revisi' %}
                <input type="date" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" placeholder="{{ field.label }}" required>
                {% elif field.name == 'file_pdf' or field.name == 'file_sheet' %}
                <input type="file" name="{{ field.name }}" class="file-upload-default" accept={% if field.name == 'file_pdf' %}".pdf"{% else %}".ods, .xlsx"{% endif %} {% if field.name == 'file_pdf' %}onchange="displayPDF(this)"{% endif %}>
                <div class="input-group col-xs-12">
                  <input type="text" class="form-control file-upload-info" disabled placeholder="{{ field.label }}">
                  <span class="input-group-append">
                    <button class="file-upload-browse btn btn-primary" type="button">Browse</button>
                  </span>
                </div>
                {% else %}
                <input type="text" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" placeholder="{{ field.label }}" required>
                {% endif %}
              </div>
              {% endfor %}

              {% for obj in menu_dokumen_list %}
              {{ obj.document }}
              {{ obj.pdf_file }}
              {{ obj.sheet_file }}
              {{ obj.other_file }}
              {% endfor %}
              <button type="submit" class="btn btn-primary mr-2">Upload</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
            </form>
          </div>
          <div class="col-md-6">
            <div class="form-group" >
              <label for="pdf_viewer">PDF Viewer</label>
              <!-- <iframe id="pdf_viewer" src="" width="100%" height="650px" frameborder="0"></iframe> -->
              <embed class="pdf_viewer" src="" type="application/pdf" width="100%" height="650px" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      <!-- footer modal -->
      </div>
    </div>
  </div>
</div>

<script>
  function displayPDF(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        $('.pdf_viewer').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>