{% load static %}
{% load custom_filters %}

{% include 'DMSApp/Komponen/navbar.html' %}
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Document Management System</h3>
            <nav aria-label="breadcrumb rounded-0">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Document</li>
                <li class="breadcrumb-item">Archive</li>
                {% if nm_departemen %}
                <li class="breadcrumb-item active" aria-current="page">{% if nm_dokumen %}<a href='{% url 'arsip_view' %}?dept={{ nm_departemen|custom_slugify }}'>{% endif %}{{ nm_departemen|capfirst }}</a></li>
                {% endif %}
                {% if nm_dokumen %}
                <li class="breadcrumb-item active" aria-current="page">{{ nm_dokumen|capfirst }}</li>
                {% endif %}
              </ol>
            </nav>
          </div>
          {% if nm_dokumen %}
          <div class="col-12 col-xl-4">
            <div class="justify-content-end d-flex">
              <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
               <button onclick="window.location.href='{% url 'arsip_create' %}?menu={{ nm_dokumen|custom_slugify }}&dept={{ nm_departemen|custom_slugify }}'" class="btn btn-primary btn-icon-text">
                  <i class="ti-plus btn-icon-prepend"></i>
                  Register
                </button>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    {% if not nm_dokumen %}
    <div class="row">
      {% for dl in departemen_list %}
      <div class="col-xl-4 mb-4 stretch-card transparent">
        <button onclick="window.location.href='{% url 'arsip_view' %}?menu={{ dl.document|custom_slugify }}&dept={{ nm_departemen|custom_slugify }}'" 
        class="card card-dark-blue border-0 shadow">
            <div class="card-body">
              <p class="m-1">{{ dl.document|capfirst }}</p>
            </div>
          </button>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if nm_dokumen %}
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card shadow">
          <div class="card-body">

            <div class="row">
              <div class="col-8">
                <h4 class="card-title">List Archives - {{ nm_dokumen }}</h4>
                <p class="card-description">
                  Add class <code>.table-striped</code>
                </p>
              </div>
            </div>
            
            <div class="table-responsive">
              <table id="example" class="table table-striped table-hover">
                <thead>
                  <tr>
                    {% for key, value in list_label.items %}
                    <!-- # Get the names of the related labels -->
                      {% for u in nm_label %}
                        {% if u.name == key %}
                          {% if value.type != "file" %}
                          <th>{{ value.label }}</th>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for obj in arsip_list %}
                  <tr>
                    {% for key, value in list_label.items %}
                    <!-- # Get the names of the related labels -->
                      {% for u in nm_label %}
                        {% if u.name == key %}
                          {% if value.type == "date" %}
                          <td>{{ obj|get_field_value:key|date:"d-m-Y" }}</td>
                          {% elif value.type != "file" %}
                            {% if value.label == "Document Name" %}
                            <td><a href="{% url 'arsip_list_detail' %}?menu={{ nm_dokumen|custom_slugify }}&dept={{ nm_departemen|custom_slugify }}&archive={{ obj|get_field_value:key|custom_slugify }}">{{ obj|get_field_value:key }}</a></td>
                            {% else %}
                            <td>{{ obj|get_field_value:key }}</td>
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
{% include 'DMSApp/Komponen/footer.html' %}