{% load static %}
{% load custom_filters %}

{% include 'DMSApp/Komponen/navbar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Document Management System</h3>
                  <nav aria-label="breadcrumb rounded-0">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">Register Document</li>
                      <li class="breadcrumb-item active" aria-current="page">{{ menu_dokumen|capfirst }}</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{ nm_department|capfirst }}</li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>

          <script>
            function displayPDF(input) {
              if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                  $('.pdf_viewer').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
              }
            }
          </script>

          
          
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card shadow">
                <div class="card-body">

                  <div class="row">
                    <div class="col-8">
                      <h4 class="card-title">Register New Document ({{ menu_dokumen|capfirst }})</h4>
                      <p class="card-description">
                        Add class <code>.table-striped</code>
                      </p>
                    </div>
                    <div class="col-4">
                      <div class="justify-content-end d-flex">
                        <div class="m-3 inputs">
                          <i class="icon-search"></i>
                          <input type="text" class="form-control form-control-search" placeholder="Search {{ sub_directory.sub_directory }}">
                        </div>
                    </div>
                    </div>
                  </div>

                  <form class="forms-sample" method="post" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary mr-2">Upload</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
        {% include 'DMSApp/Komponen/footer.html' %}