
{% load static %}
{% load custom_filters %}

{% include 'DMSApp/Komponen/navbar.html' %}
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Document Management System</h3>
            <nav aria-label="breadcrumb rounded-0">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Document</li>
                {% if nm_departemen %}
                <li class="breadcrumb-item active" aria-current="page">{{ nm_departemen|capfirst }}</li>
                {% endif %}
                <li class="breadcrumb-item active" aria-current="page">{% if nm_dokumen %}<a href='{% url 'arsip_view' %}?dept={{ nm_departemen|custom_slugify }}'>{% endif %}Category</a></li>
                {% if nm_dokumen %}
                <li class="breadcrumb-item active" aria-current="page">{% if nm_dokumen %}<a href='{% url 'arsip_view' %}?menu={{ nm_dokumen|custom_slugify }}&dept={{ nm_departemen|custom_slugify }}'>{% endif %}{{ nm_dokumen|capfirst }}</a></li>
                {% endif %}
                {% if nm_arsip %}
                <li class="breadcrumb-item active" aria-current="page">{% if nm_dokumen %}<a href='{% url 'arsip_list_detail' %}?menu={{ nm_dokumen|custom_slugify }}&dept={{ nm_departemen|custom_slugify }}&archive={{ nm_arsip|custom_slugify }}'>{% endif %}{{ nm_arsip|capfirst }}</a></li>
                <li class="breadcrumb-item active" aria-current="page"> {{ kode_arsip }} </li>
                {% endif %}
                <li class="breadcrumb-item active" aria-current="page">Detail</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card shadow">
          <div class="card-body">

            <div class="row">
              <div class="col-8">
                <h4 class="card-title">{{ dokumen_detail.parent_category.category_initial }}.{{ dokumen_detail.document_no }}{% if dokumen_detail.sub_document_no %}.{{ dokumen_detail.sub_document_no }}{% endif %}</h4>
                <h4 class="card-title">{{ dokumen_detail.document_name }}</h4>
                <p class="card-description">
                  Add class <code>.table-striped</code>
                </p>
              </div>
              
              <div class="col-4">
                <div class="justify-content-end d-flex">
                  <div class="m-3 inputs">
                    {% for stat in status %}
                      {% for key, value in stat.items %}
                        {% if user.is_releaser and key == 'is_releaser' %}
                          <button type="submit" class="btn btn-primary mr-1" data-toggle="modal" data-target="#mod4">Release</button>
                        {% elif not user.is_releaser and key == 'is_approver' %}
                          <button type="submit" class="btn btn-primary mr-1" data-toggle="modal" data-target="#mod4">Approve</button>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                    </div>
                </div>
              </div>
            </div><hr>
            
            <div class="row">
              <div class="card-title col-12">
                <div class="row">
                  <div class="col-4">
                    <label>status</label>
                    <p>

                      {% for stat in status %}
                        {% for key, value in stat.items %}
                        <div class="badge badge-{{ value.warna }}">{{ value.label }}</div>
                        {% endfor %}
                      {% endfor %}
                    </p>
                  </div>
                  <div class="col-4">
                    <label>created date</label>
                    <p>{{ dokumen_detail.created_date|date:"d-m-Y" }}</p>
                  </div>
                  <div class="col-4">
                    <label>department</label>
                    <p>{{ dokumen_detail.parent_department.department }}</p>
                  </div>
                </div><hr>

                <div div class="row">
                {% for key, value in list_label.items %}
                  {% for u in nm_label %}
                    {% if u.name == key %}

                    <div class="col-6">
                      {% if value.label == "Document ID" %}
                      {{ value.label }}:
                      <p>{% if value.label == "Document ID" %}{{ dokumen_detail.parent_category.category_initial }}.{{ dokumen_detail|get_field_value:u.name }}{% if dokumen_detail.sub_document_no %}.{{ dokumen_detail.sub_document_no }}{% endif %}{% endif %}</p>
                      {% elif value.type != "file" %}
                      {{ value.label }}:
                      <p>{{ dokumen_detail|get_field_value:u.name }}</p>
                      {% endif %}
                    </div>

                    {% endif %}
                  {% endfor %}
                {% endfor %}
                </div>

                <div div class="row">
                  {% for key, value in list_label.items %}
                    {% for u in nm_label %}
                      {% if u.name == key %}
  
                      {% if value.type == "file" %}
                      <div class="col-12">
                      {{ value.label }}:
                      <p><a href="{{ dokumen_detail|get_field_value:key }}" target="_blank">View {{ value.label }}</a></p>
                      </div>
                      {% endif %}
                     
  
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
<script>
    function displayPDF(input) {
        const file = input.files[0];
        if (file.type === "application/pdf") {
            const fileReader = new FileReader();
            fileReader.onload = function() {
                const pdfData = new Uint8Array(this.result);
                const loadingTask = pdfjsLib.getDocument({data: pdfData});
                loadingTask.promise.then(pdf => {
                    pdf.getPage(1).then(page => {
                        const viewport = page.getViewport({scale: 1.5});
                        const canvas = document.getElementById('pdf-canvas');
                        const context = canvas.getContext('2d');
                        canvas.height = viewport.height;
                        canvas.width = viewport.width;
                        const renderContext = {
                            canvasContext: context,
                            viewport: viewport
                        };
                        page.render(renderContext);
                    });
                });
            };
            fileReader.readAsArrayBuffer(file);
        } else {
            alert("Please select a valid PDF file.");
        }
    }
</script>
{% include 'DMSApp/CrudDokumen/modal_update.html' %} 
{% include 'DMSApp/Komponen/footer.html' %}
