
{% load static %}
{% load custom_filters %}

{% include 'DMSApp/Komponen/navbar.html' %}
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Document Management System</h3>
            <nav aria-label="breadcrumb rounded-0">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Document</li>   
                <li class="breadcrumb-item active" aria-current="page">{{ nm_departemen|capfirst }}</li>
                <li class="breadcrumb-item active" aria-current="page"><a href='{% url 'dokumen_view' %}?dept={{ nm_departemen|custom_slugify }}'>Category</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href='{% url 'dokumen_view' %}?dept={{ nm_departemen|custom_slugify }}&cat={{ nm_kategori|custom_slugify }}'>{{ nm_kategori|capfirst }}</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href='{% url 'dokumen_list_view' %}?dept={{ nm_departemen|custom_slugify }}&cat={{ nm_kategori|custom_slugify }}&docs={{ nmr_dokumen|custom_slugify }}{% if sub_nmr_dokumen %}&sub={{ sub_nmr_dokumen|custom_slugify }}{% endif %}'>
                  {{ inisial_kategori|add:"." }}{{ kode_departemen|add:"." }}{{ nmr_dokumen }}{% if sub_nmr_dokumen %}{{ text|default:"." }}{{ sub_nmr_dokumen }}{% endif %}&nbsp;{{ nm_dokumen|capfirst }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detail</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="accordion">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card shadow">
          <div class="card-body">
            <!-- row -->
            <div class="row">
              <div class="col-8">
                <h4 class="card-title">{{ inisial_kategori|add:"." }}{{ kode_departemen|add:"." }}{{ nmr_dokumen }}{% if sub_nmr_dokumen %}{{ text|default:"." }}{{ sub_nmr_dokumen }}{% endif %}</h4>
                <h4 class="card-description">{{ nm_dokumen }}</h4>
                <p class="card-description">
                  Add class <code>.table-striped</code>
                </p>
              </div>
              <div class="col-4">
                <div class="justify-content-end d-flex">
                  <div class="m-3 inputs">
                    {{ opt_button|safe }}
                    {{ opt_button_reject|safe }}
                  </div>
                </div>
              </div>
            </div><hr>
            <!-- row -->
            <div class="row">
              <div class="card-text col-12">
                <div class="row">
                  <div class="col-4">
                    <label class="card-title">status</label>{% for stat in status %}{% for key, value in stat.items %}
                    <p><span class="badge badge-{{ value.warna }}">{{ value.label }}</span></p>{% endfor %}{% endfor %}
                  </div>
                  <div class="col-4">
                    <label class="card-title">created date</label>
                    <p>{{ dokumen_detail.created_date|date:"d-m-Y" }}</p>
                  </div>
                  <div class="col-4">
                    <label class="card-title">department</label>
                    <p>{{ dokumen_detail.parent_department.department }}</p>
                  </div>
                </div>
              </div>
            </div><hr>
            <!-- row -->
            <div div class="row">
            {% for key, value in list_label.items %}
              {% for u in nm_label %}
                {% if u.name == key %}
                <div class="col-4">
                  {% if value.label == "Document ID" %}
                  <label class="card-title">{{ value.label }}</label>
                  <p>{{ inisial_kategori|add:"." }}{% if kode_departemen %}{{ kode_departemen|add:"." }}{% endif %}{{ dokumen_detail|get_field_value:u.name }}{% if dokumen_detail.sub_document_no %}{{ text|default:"."}}{{ dokumen_detail.sub_document_no }}{% endif %}
                  {% elif value.type != "file" %}
                  <label class="card-title">{{ value.label }}</label>
                  <p>{{ dokumen_detail|get_field_value:u.name }}</p>
                  {% endif %}
                </div>
                {% endif %}
              {% endfor %}
            {% endfor %}
            </div>
            <!-- row -->
            <div div class="row mt-5">
            {% for key, value in list_label.items %}
              {% for u in nm_label %}
                {% if u.name == key %}
                  {% if value.type == "file" %}
                  <div class="col-4">
                  <label class="card-title">{{ value.label }}</label>
                  <p><a href="{{ dokumen_detail|get_field_value:key }}" target="_blank"><span class="badge badge-success">Download {{ value.label }}</span></a></p>
                  </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
            </div>
                
            <div class="justify-content-end d-flex">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Show log
              </button>
            </div>
            <!-- row -->
            <div class="row">
              <div class="card-text col-12">
                
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"><hr>
                  <div class="row">
                    {% for obj in log_notifikasi %}
                    <div class="col-4">
                      <ul class="d-flex flex-column-reverse todo-list">
                        <li>{{ forloop.counter|stringformat:"d" }}.
                          <span>{{ obj.time_stamp|date:"d-m-Y" }} {{ obj.time_stamp|time:"H:i" }}</span>
                          <p class="mb-0 font-weight-thin">{{ obj.reason|add:" by "}}<b>{{ obj.parent_user.first_name }} {{ obj.parent_user.last_name }}</b></p>
                        <p class="text-gray mb-0 ">Call Sarah Graves</p>
                        </li>
                      </ul>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>


  </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
<script>
    function displayPDF(input) {
        const file = input.files[0];
        if (file.type === "application/pdf") {
            const fileReader = new FileReader();
            fileReader.onload = function() {
                const pdfData = new Uint8Array(this.result);
                const loadingTask = pdfjsLib.getDocument({data: pdfData});
                loadingTask.promise.then(pdf => {
                    pdf.getPage(1).then(page => {
                        const viewport = page.getViewport({scale: 1.5});
                        const canvas = document.getElementById('pdf-canvas');
                        const context = canvas.getContext('2d');
                        canvas.height = viewport.height;
                        canvas.width = viewport.width;
                        const renderContext = {
                            canvasContext: context,
                            viewport: viewport
                        };
                        page.render(renderContext);
                    });
                });
            };
            fileReader.readAsArrayBuffer(file);
        } else {
            alert("Please select a valid PDF file.");
        }
    }
</script>
{% include 'DMSApp/CrudDokumen/modal_update.html' %} 
{% include 'DMSApp/Komponen/footer.html' %}
