{% load static %}
{% load custom_filters %}

{% include 'DMSApp/Komponen/navbar.html' %}
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Document Management System</h3>
            <nav aria-label="breadcrumb rounded-0">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Document</li>
                {% if nm_departemen %}
                <li class="breadcrumb-item active" aria-current="page">{{ nm_departemen|capfirst }}</li>
                {% endif %}
                <li class="breadcrumb-item active" aria-current="page">{% if nm_kategori %}<a href='{% url 'dokumen_view' %}?dept={{ nm_departemen|custom_slugify }}'>{% endif %}Category</a></li>
                {% if nm_kategori %}
                <li class="breadcrumb-item active" aria-current="page">{% if nm_kategori %}<a href='{% url 'dokumen_view' %}?dept={{ nm_departemen|custom_slugify }}&cat={{ nm_kategori|custom_slugify }}'>{% endif %}{{ nm_kategori|capfirst }}</a></li>
                {% endif %}
                {% if nm_dokumen %}
                <li class="breadcrumb-item active" aria-current="page">{{ inisial_kategori|add:"." }}{{ kode_departemen|add:"."}}{{ nmr_dokumen }}{% if sub_nmr_dokumen %}{{ text|default:"." }}{{ sub_nmr_dokumen }}{% endif %}&nbsp;{{ nm_dokumen|capfirst }}</li>
                {% endif %}
              </ol>
            </nav>
          </div>
          {% if not is_unapproved_instances %}
          <div class="col-12 col-xl-4">
            <div class="justify-content-end d-flex">
              <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                <button type="button" onclick="window.location.href='{% url 'dokumen_create' %}?dept={{ nm_departemen|custom_slugify }}&cat={{ nm_kategori|custom_slugify }}&archive={{ nm_arsip|custom_slugify }}'" class="btn btn-primary btn-icon-text" data-toggle="modal" data-target="#mod1">
                  <i class="ti-plus btn-icon-prepend"></i>
                  Revision
                </button>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    
    
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card shadow">
          <div class="card-body">

            <div class="row">
              <div class="col-8">
                <h4 class="card-title">{{ nm_dokumen }}</h4>
                <p class="card-description">
                  Add class <code>.table-striped</code>
                </p>
              </div>
            </div>

            <div class="table-responsive">
              <table id="example" class="table table-striped table-hover">
                <thead>
                  <tr>
                    {% for key, value in list_label.items %}
                    <!-- # Get the names of the related labels -->
                      {% for u in nm_label %}
                        {% if u.name == key %}
                          {% if value.type != "file" %}
                          <th>{{ value.label }}</th>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for obj in dokumen_list %}
                  <tr {% if not obj.is_active %}class="table-secondary"{% endif %}>
                      {% for key, value in list_label.items %}
                      <!-- # Get the names of the related labels -->
                        {% for u in nm_label %}
                          {% if u.name == key %}
                            {% if value.type != "file" %}
                              {% if value.label == "Document ID" %}
                              <td>{{ inisial_kategori|add:"." }}{% if kode_departemen %}{{ kode_departemen|add:"." }}{% endif %}{{ obj|get_field_value:key|capfirst }}{% if obj.sub_document_no %}{{ text|default:"."}}{{ obj.sub_document_no }}{% endif %}</td>
                              {% else %}
                              <td>{{ obj|get_field_value:key|capfirst }}</td>
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      {% endfor %}

                    <td>
                      {% for stat in status %}
                        {% for key, value in stat.items %}
                        <div class="badge badge-{{ value.warna }}">{{ value.label|capfirst }}</div>
                        {% endfor %}
                      {% endfor %}
                    </td>
                    <td>
                      <div class="d-flex">

                        {% if obj.is_released and user.is_releaser or user.is_superuser %}
                        <button type="button" class="mr-2 btn btn-social-icon btn-rounded {% if obj.is_active %}btn-facebook{% else %}btn-secondary{% endif %}" data-toggle="modal" data-target="#mod1-{{ obj.id }}">
                          <i class="ti-check-box"></i>
                        </button>
                        {% endif %}

                        {{ opt_button_update|safe }}
                        {{ opt_button_delete|safe }}
                        {{ opt_button_aktifasi|safe }}
                        <button type="button" onclick="window.location.href='{% url 'dokumen_detail' pk=obj.id %}?dept={{ nm_departemen|custom_slugify }}&cat={{ nm_kategori|custom_slugify }}&docs={{ nmr_dokumen|custom_slugify }}{% if obj.sub_document_no %}&sub={{ obj.sub_document_no|custom_slugify }}{% endif %}'" class="btn btn-social-icon btn-linkedin btn-rounded">
                          <i class="ti-info-alt"></i>
                        </button>
                        
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include 'DMSApp/CrudDokumen/modal_delete.html' %}
{% include 'DMSApp/CrudDokumen/modal_update.html' %}
{% include 'DMSApp/Komponen/footer.html' %}