{% load static %}
{% load custom_filters %}

{% include 'DMSApp/Komponen/navbar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Document Management System</h3>
                  <p class="font-weight-normal mb-0">Document / {{ sub_directory.sub_directory|capfirst }}{% if nm_department %} / {{ nm_department|capfirst }}{% endif %}</p>
                </div>
                {% if nm_department %}
                <div class="col-12 col-xl-4">
                  <div class="justify-content-end d-flex">
                    <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                      <button type="button" class="btn btn-primary btn-icon-text" data-toggle="modal" data-target="#mod1">
                        <i class="ti-plus btn-icon-prepend"></i>
                        Register
                      </button>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>

            <!-- Modal new upload dokumen -->
            <div class="modal fade" id="mod1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
              <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel" style="display: flex; align-items: center;">
                      <i class="mdi mdi-help-circle mdi-24px text-primary mr-2"></i>
                      register document ({{ sub_directory.sub_directory }}-{{ nm_department|capfirst }})
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <form class="forms-sample" method="post" autocomplete="off" enctype="multipart/form-data">
                          {% csrf_token %}
                          {% for field in form %}
                          <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% if field.name == 'tanggal_efektif' or field.name == 'tanggal_revisi' %}
                            <input type="date" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" placeholder="{{ field.label }}" required>
                            {% elif field.name == 'file_pdf' or field.name == 'file_sheet' %}
                            <input type="file" name="{{ field.name }}" class="file-upload-default" accept={% if field.name == 'file_pdf' %}".pdf"{% else %}".ods, .xlsx"{% endif %} {% if field.name == 'file_pdf' %}onchange="displayPDF(this)"{% endif %}>
                            <div class="input-group col-xs-12">
                              <input type="text" class="form-control file-upload-info" disabled placeholder="{{ field.label }}">
                              <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button">Browse</button>
                              </span>
                            </div>
                            {% else %}
                            <input type="text" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" placeholder="{{ field.label }}" required>
                            {% endif %}
                          </div>
                          {% endfor %}
                          <button type="submit" class="btn btn-primary mr-2">Upload</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
                        </form>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group" >
                          <label for="pdf_viewer">PDF Viewer</label>
                          <!-- <iframe id="pdf_viewer" src="" width="100%" height="650px" frameborder="0"></iframe> -->
                          <embed class="pdf_viewer" src="" type="application/pdf" width="100%" height="650px" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                  <!-- footer modal -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <script>
            function displayPDF(input) {
              if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                  $('.pdf_viewer').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
              }
            }
          </script>

          <!-- <div class="row">
            <div class="col-md-6 grid-margin transparent"> -->
              <div class="row">
                {% for dl in departemen_list %}
                <div class="col-xl-4 mb-4 stretch-card transparent">
                  <button onclick="window.location.href='{% url 'dokumen_view' %}?menu={{ sub_directory.sub_directory }}&dept={{ dl.nm_departemen }}'" 
                  class="card card {% if nm_department != dl.nm_departemen %}card-dark-blue{% endif %} border-0 shadow" {% if nm_department == dl.nm_departemen %}disabled{% endif %} >
                      <div class="card-body">
                        <p class="m-1">{{ dl.nm_departemen|upper }}</p>
                        <!-- <p class="mb-4">{{ sub_directory.sub_directory|upper }}</p> -->
                        <!-- <p class="fs-30 mb-2">{{ dl.nm_departemen|capfirst }}</p> -->
                        <!-- <p></p> -->
                      </div>
                    </button>
                </div>
                {% endfor %}
              </div>
            <!-- </div>
          </div> -->
          
          {% if nm_department and dokumen_list %}
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card shadow">
                <div class="card-body">
                  <h4 class="card-title">{{ sub_directory.sub_directory }}</h4>
                  <p class="card-description">
                    Add class <code>.table-striped</code>
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th>No. Dokumen</th>
                          <th>Nama Dokumen</th>
                          <th>Tanggal Efektif</th>
                          <th>No. Revisi</th>
                          <th>Tanggal Revisi</th>
                          <th>PDF File</th>
                          <th>Sheet File</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for dl in dokumen_list %}
                        <tr>
                          <td>{{ dl.no_dokumen }}</td>
                          <td>{{ dl.nama_dokumen }}</td>
                          <td>{{ dl.tanggal_efektif|date:"d-m-Y" }}</td>
                          <td>{{ dl.revisi_no }}</td>
                          <td>{{ dl.tanggal_revisi|date:"d-m-Y" }}</td>
                          <td>{{ dl.file_pdf }}</td>
                          <td>{{ dl.file_sheet }}</td>
                          <td>{% if dl.is_approved %}<div class="badge badge-success">Completed</div>{% else %}<div class="badge badge-warning">Pending</div>{% endif %}</td>
                          <td>
                            <div class="d-flex">
                              <button type="button" class="mr-2 btn btn-primary btn-rounded btn-icon" data-toggle="modal" data-target="#mod0-{{ dl.id }}">
                                <i class="ti-pencil-alt"></i>
                              </button>
                              <button type="button" class="btn btn-rounded btn-icon btn-danger" data-toggle="modal" data-target="#mod1-{{ dl.id }}">
                                <i class="ti-trash"></i>
                              </button>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

          <!-- Modal update dokumen -->
          {% for obj in dokumen_list %}
          <div class="modal fade" id="mod0-{{ obj.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" style="display: flex; align-items: center;">
                    <i class="mdi mdi-help-circle mdi-24px text-primary mr-2"></i>
                    update {{ obj.file_pdf.url }}<b>&nbsp;{{ obj.no_dokumen }}-{{ obj.nama_dokumen }}</b>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6">
                      <form class="forms-sample" action="{% url 'dokumen_update' pk=obj.id %}?menu={{ sub_directory.sub_directory }}&dept={{ obj.dokumen_dept.nm_departemen }}" method="post" autocomplete="off" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                          {% if field.name == 'tanggal_efektif' or field.name == 'tanggal_revisi' %}
                          <input type="date" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" placeholder="{{ field.label }}" value="{% with date_value=obj|get_field_value:field.name %}{% if date_value %}{{ date_value|date:'Y-m-d' }}{% endif %}{% endwith %}"  required>
                          {% elif field.name == 'file_pdf' or field.name == 'file_sheet' %}
                          <input type="file" name="{{ field.name }}" class="file-upload-default" accept={% if field.name == 'file_pdf' %}".pdf"{% else %}".ods, .xlsx"{% endif %} {% if field.name == 'file_pdf' %}onchange="displayPDF(this)"{% endif %} value="{{ obj|get_field_value:field.name }}">
                          <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled placeholder="{{ field.label }}" value="{{ obj|get_field_value:field.name }}">
                            <span class="input-group-append">
                              <button class="file-upload-browse btn btn-primary" type="button">Browse</button>
                            </span>
                          </div>
                          {% else %}
                          <input type="text" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" placeholder="{{ field.label }}" value="{{ obj|get_field_value:field.name }}" required>
                          {% endif %}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary mr-2">Edit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      </form>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group" >
                        <label for="pdf_viewer">PDF Viewer</label>
                        <!-- <iframe id="pdf_viewer" src="" width="100%" height="650px" frameborder="0"></iframe> -->
                        <embed class="pdf_viewer" src="{{ obj.file_pdf.url }}" type="application/pdf" width="100%" height="650px" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <!-- footer modal -->
                </div>
              </div>
            </div>
          </div>

          <script>
            function displayPDF(input) {
              if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                  $('.pdf_viewer').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
              }
            }
          </script>
          {% endfor %}

          <!-- Modal delete dokumen -->
          {% for obj in dokumen_list %}
          <div class="modal fade" id="mod1-{{ obj.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" style="display: flex; align-items: center;">
                    <i class="mdi mdi-help-circle mdi-24px text-primary mr-2"></i>
                    <b>hapus dokumen {{ obj.no_dokumen }}</b>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Ini akan dihapus secara <span class="text-danger">permanen</span>, tetap hapus dokumen?
                </div>
                <div class="modal-footer">
                  <form class="forms-sample" method="post" action="{% url 'dokumen_delete' pk=obj.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mr-2">Hapus</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

          
        </div>
        {% include 'DMSApp/Komponen/footer.html' %}